//output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body    

    .container
      .col4
        img(src="http://placehold.it/200x100")
      .col8
        nav: +menu('index', menu, 'horizontal', 0, 0, 'btn')

    +scripts
